@using Boonker.Data;
@model AuthorsView


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Line Chart JS</title>


</head>

<body>

    <div>
        <canvas width="40" height="40" id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        const data = {
            labels: [
                'Red',
                'Blue',
                'Yellow'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
        };


        new Chart(ctx, config);

    </script>

    @foreach (var author in Model.Authors)
    {
        <li>
            <h1>@author.FirstName @author.LastName</h1>
        </li>
    }

</body>

</html>
